<a href="https://colab.research.google.com/github/kaihe/python-ML-AI-tutorial/blob/kaihe_tutorial/classes2_0919.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Containers

Containers are data structures that hold multiple items. They allow you to group related data together and perform operations on the group as a whole. Based on how containers manage data, main types of containers in Python:

* lists
* tuples
* sets
* dictionaries

### List

In [19]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

indexing: Explain that elements in a list are accessed using their index, which starts at 0.

In [ ]:
print(fruits[0])
print(fruits[1])
print(fruits[2])

Negative Indexing: Show how to access elements from the end of the list using negative indices.

In [ ]:
print(fruits[-1])
print(fruits[-2])

Slicing: Extract a portion of a list using slicing.

In [ ]:
print(fruits[1:3])
print(fruits[:2])
print(fruits[1:])

Modifying list

In [ ]:
fruits[1] = "blueberry"
print(fruits)

In [ ]:
fruits.append("date")
print(fruits)

In [ ]:
fruits.insert(1, "banana")
print(fruits)

In [ ]:
fruits.remove("cherry")
print(fruits)

In [ ]:
fruits.pop(2)
print(fruits)

In [ ]:
fruits.clear()
print(fruits)

List Operations

In [ ]:
more_fruits = ["grape", "kiwi"]
all_fruits = fruits + more_fruits
print(all_fruits)

In [ ]:
repeated_fruits = fruits * 2
print(repeated_fruits)

List methods

In [ ]:
print(len(fruits))

In [ ]:
fruits.sort()
print(fruits)

In [ ]:
fruits.reverse()
print(fruits)

In [20]:
print(fruits.count("banana"))

1

### List comprehensions

When programming, frequently we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

You can make this code simpler using a list comprehension:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

List comprehensions can also contain conditions:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

### Set

a set is an unordered collection of unique items. Sets are mutable, but they do not allow duplicate values.

In [21]:
# list allows duplicated elements
fruits = ["apple", "banana", "cherry", "apple"]
print(fruits)

['apple', 'banana', 'cherry', 'apple']

In [22]:
# list allows duplicated elements
fruits = set(["apple", "banana", "cherry", "apple"])
print(fruits)

{'apple', 'cherry', 'banana'}

In [ ]:
print("apple" in fruits)
print("grape" in fruits)

 Modifying Sets

In [23]:
fruits.add("date")
print(fruits)

{'date', 'apple', 'cherry', 'banana'}

In [24]:
fruits.update(["grape", "kiwi"])
print(fruits)

{'banana', 'kiwi', 'apple', 'cherry', 'date', 'grape'}

In [ ]:
fruits.remove("cherry")
print(fruits)

In [ ]:
fruits.discard("cherry")
print(fruits)

In [25]:
removed_fruit = fruits.pop()
print(removed_fruit)
print(fruits)

banana
{'kiwi', 'apple', 'cherry', 'date', 'grape'}

In [ ]:
fruits.clear()
print(fruits)

Set operations

In [26]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [27]:
intersection_set = set1.intersection(set2)
print(intersection_set)

{3}

In [28]:
difference_set = set1.difference(set2)
print(difference_set)

{1, 2}

In [29]:
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)

{1, 2, 4, 5}

### Dict

A dictionary is a collection of key-value pairs, where each key is unique and associated with a value.

In [3]:
student = {
    "name": "Alice",
    "age": 16,
    "grade": "10th"
}

print(student["name"])  # This will print "Alice"
print(student["age"])   # This will print 16

Alice
16
{'name': 'Alice', 'age': 16, 'grade': '10th'}

In [ ]:
print(student)

In [4]:
# modify value
student["age"] += 1
print(student["age"])  # This will print 17

17

In [5]:
# remove key
del student["grade"]
print(student)  # This will no longer include "grade": "10th"

{'name': 'Alice', 'age': 17}

Iterating Over a Dictionary

In [12]:
student = {
    "name": "Alice",
    "age": 16,
    "grade": "10th"
}

# iterate over keys
for key in student.keys():
    print(key)  # This will print "name", "age", "school"

name
age
grade

In [8]:
# iterate over values
for value in student.values():
    print(value)  # This will print "Alice", 17, "High School A"

Alice
17

In [9]:
# iterate over key, value pairs
for key, value in student.items():
    print(f"{key}: {value}")  # This will print "name: Alice", "age: 17", "school: High School A"

name: Alice
age: 17

Checking for Existence

In [10]:
if "name" in student:
    print("Name exists in the dictionary.")

Name exists in the dictionary.

In [13]:
if 16 in student.values():
  print("we have a student 16 years old")

we have a student 16 years old

### Counter


Counter is a subclass of dict that is used to count hashable objects. It is a collection where elements are stored as dictionary keys and their counts are stored as dictionary values.

Use Case: Use an example like counting the frequency of words in a sentence or the number of times each item appears in a list.

In [17]:
text = '''
The quick brown fox jumps over the lazy dog
The dog was not amused
The fox and the dog became friends
The quick brown fox jumps again'''

# count frequency of each word in text
from collections import Counter

# Convert the text to lowercase to ensure case-insensitive counting
text = text.lower()

# Split the text into words
words = text.split()

# Create a Counter from the list of words
word_count = Counter(words)

# Print the frequency of each word
for word, count in word_count.most_common():
    print(f"{word}: {count}")

the: 6
fox: 3
dog: 3
quick: 2
brown: 2
jumps: 2
over: 1
lazy: 1
was: 1
not: 1
amused: 1
and: 1
became: 1
friends: 1
again: 1

## Functions

Function is a block of code that performs a specific task. Functions can take input (arguments), process it, and return output (return value).

Think it like a vending machine. You put in money (input), press a button (function call), and get a snack (output).

In [30]:
def greet():
    print("Hello, World!")

In [ ]:
greet()

Parameters:  inputs to a function.

In [33]:
def greet(name="world"):
    print(f"Hello, {name}!")

In [34]:
greet("Alice")  # This will print "Hello, Alice!"
greet("Bob")    # This will print "Hello, Bob!"
greet()

Hello, Alice!
Hello, Bob!
Hello, world!

Multiple Return Values

In [39]:
def get_name_and_age():
    return "Alice", 25

name, age = get_name_and_age()
print(f"Name: {name}, Age: {age}")  # This will print "Name: Alice, Age: 25"

Name: Alice, Age: 25

### Execise

In [40]:
def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

def multiply(a, b):
    return a * b

def divide(a, b):
    if b == 0:
        return "Error: Division by zero"
    return a / b

# Example usage
num1 = float(input("Enter the first number: "))
operator = input("Enter the operator (+, -, *, /): ")
num2 = float(input("Enter the second number: "))

if operator == '+':
    result = add(num1, num2)
elif operator == '-':
    result = subtract(num1, num2)
elif operator == '*':
    result = multiply(num1, num2)
elif operator == '/':
    result = divide(num1, num2)
else:
    result = "Invalid operator"

print(f"Result: {result}")

Enter the first number: 1
Enter the operator (+, -, *, /): -
Enter the second number: 100
Result: -99.0

### Nested functions

a nested function is a function defined inside another function. The inner function can access variables from the outer function, but it is not accessible outside the outer function.

In [43]:
def process_data(data):
    def clean_data():
        return [int(item.strip()) for item in data]

    def calculate_average(cleaned_data):
        return sum(cleaned_data) / len(cleaned_data)

    cleaned_data = clean_data()
    average = calculate_average(cleaned_data)

    print(f"Cleaned Data: {cleaned_data}")
    print(f"Average: {average}")


data = [" 10 ", " 20 ", " 30 "]
process_data()

Cleaned Data: [10, 20, 30]
Average: 20.0

In [44]:
def process_data(data):
    def clean_data():
        return [int(item.strip()) for item in data]

    def calculate_average(cleaned_data):
        return sum(cleaned_data) / len(cleaned_data)

    cleaned_data = clean_data()
    average = calculate_average(cleaned_data)

    print(f"Cleaned Data: {cleaned_data}")
    print(f"Average: {average}")

data = [10,20,30]
calculate_average(data)

NameError: name 'calculate_average' is not defined

## Class

### Basic class

In [48]:
class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade
        self.courses = []

    def add_course(self, course):
        self.courses.append(course)
        print(f"{self.name} has enrolled in {course}.")

    def display_info(self):
        print('----------')
        print(f"Name: {self.name}")
        print(f"Age: {self.age}")
        print(f"Grade: {self.grade}")
        print("Courses Enrolled:")
        for course in self.courses:
            print(f"- {course}")

    def study(self):
        print(f"{self.name} is studying hard!")

In [49]:
# Creating student objects
student1 = Student(name = "Alice", age = 16, grade =10)
student2 = Student("Bob", 15, 9)

# Adding courses
student1.add_course("Math")
student1.add_course("Science")
student2.add_course("History")
student2.add_course("English")

Alice has enrolled in Math.
Alice has enrolled in Science.
Bob has enrolled in History.
Bob has enrolled in English.

In [50]:
# Displaying student information
student1.display_info()
student2.display_info()

----------
Name: Alice
Age: 16
Grade: 10
Courses Enrolled:
- Math
- Science
----------
Name: Bob
Age: 15
Grade: 9
Courses Enrolled:
- History
- English

In [51]:
# Students studying
student1.study()
student2.study()

Alice is studying hard!
Bob is studying hard!

### Subclass

In [63]:
class HighSchoolStudent(Student):
    def __init__(self, name, age, grade, extracurricular):
        super().__init__(name, age, grade)
        self.extracurricular = extracurricular

    def display_info(self):
        super().display_info()
        print(f"Extracurricular Activity: {self.extracurricular}")

    def study(self):
        print(f"{self.name} is working on {self.extracurricular} at high school.")

In [64]:
# Creating high school student objects
student3 = HighSchoolStudent(name="Charlie", age=17, grade=11, extracurricular="Basketball")
student4 = Student("Diana", 18, 12)

# Adding courses
student3.add_course("Physics")
student3.add_course("Chemistry")
student4.add_course("Biology")
student4.add_course("Economics")

Charlie has enrolled in Physics.
Charlie has enrolled in Chemistry.
Diana has enrolled in Biology.
Diana has enrolled in Economics.

In [60]:
# Displaying high school student information
student3.display_info()
student4.display_info()

----------
Name: Charlie
Age: 17
Grade: 11
Courses Enrolled:
- Physics
- Chemistry
Extracurricular Activity: Basketball
----------
Name: Diana
Age: 18
Grade: 12
Courses Enrolled:
- Biology
- Economics

In [65]:
# High school students participating
student3.study()
student4.study()

Charlie is working on Basketball at high school.
Diana is studying hard!

### How to understand class

The concept of a class in Python, and object-oriented programming (OOP) in general, does indeed share some philosophical parallels with Plato's theory of Forms. Let's explore these connections:

*Plato's Theory of Forms*

Plato's theory posits that there is a realm of abstract, perfect "Forms" (or "Ideas") that exist independently of the physical world. These Forms are the true essence of things, and the physical objects we perceive are mere imperfect copies or shadows of these Forms. For example, the Form of "Horse" is the perfect, ideal horse, and all actual horses we see are imperfect instances of this ideal Form.

*Classes in Python*

In Python, a class is a blueprint or template for creating objects. It defines the attributes and behaviors (methods) that objects of that class will have. When you create an object (an instance) of a class, you are essentially creating a specific, concrete realization of that abstract blueprint.

Parallels：

1.   Abstract vs. Concrete:

  - Plato: The Form is abstract and perfect, while the physical object is concrete and imperfect.

  - Python: The class is abstract and defines the ideal structure, while the object (instance) is concrete and specific.
2.   Essence vs. Instance:

  - Plato: The Form represents the essence or true nature of something, and the physical object is an instance of that essence.

  - Python: The class represents the essence or blueprint of an object, and the instance is a specific realization of that blueprint.

3.  Perfection vs. Imperfection:

  - Plato: The Form is perfect, and the physical object is imperfect.

  - Python: The class is a perfect (or ideal) representation of what an object should be, and the instance may have variations or imperfections (e.g., different attribute values).

4.  Universality vs. Particularity:

  - Plato: The Form is universal and applies to all instances of that type.

  - Python: The class is universal and applies to all instances created from it.