<a href="https://colab.research.google.com/github/kaihe/python-ML-AI-tutorial/blob/kaihe_tutorial/exercise2_0919.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Keyboard shortcuts:
* to move cell up ctrl+m K
* to move cell down ctrl+m J

* to create a new cell below ctrl+m b
* to create a new cell above ctrl+m a

* to delete a cell ctrl+m d
* to convert a text cell to code cell ctrl + m + y
* to convert a code cellt o text cell ctrl + m + m (double tap m)
* to replace within cell ctrl + shift + h
* to replace within entire notebook ctrl + h
* to run current cell ctrl + enter

Exercise 1:

Create a function that takes a list of integers and returns a new list with only the even numbers.

In [1]:
input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
output_list = []
# write your code here

In [2]:
# run this cell to test your answer
assert output_list == [2, 4, 6, 8, 10]
print("Exercise 1 is correct.")

Exercise 1 is correct.

Exercise 2:

Nested Dictionary Manipulation

Objective: Create a function that takes a nested dictionary representing a company's organizational structure (where each key is a department and each value is another dictionary containing employees and their roles) and returns a flattened dictionary with employee names as keys and their roles as values.

In [3]:
company = {
    'HR': {'Alice': 'Manager', 'Bob': 'Assistant'},
    'Engineering': {'Charlie': 'Developer', 'David': 'Tester'}
}
output = {}

In [4]:
# run this cell to test your answer
assert output == {'Alice': 'Manager', 'Bob': 'Assistant', 'Charlie': 'Developer', 'David': 'Tester'}
print("Exercise 2 is correct")

Exercise 2 is correct

Exercise 3:

Dictionary Grouping

Objective: Create a function that takes a list of dictionaries, each representing a person with keys 'name', 'age', and 'city', and returns a dictionary where the keys are cities and the values are lists of names of people living in those cities.

In [5]:
people = [
    {'name': 'Alice', 'age': 30, 'city': 'New York'},
    {'name': 'Bob', 'age': 25, 'city': 'Los Angeles'},
    {'name': 'Charlie', 'age': 35, 'city': 'New York'},
    {'name': 'David', 'age': 22, 'city': 'Los Angeles'}
]
output={}

In [6]:
# run this cell to test your answer
assert output == {'New York': ['Alice', 'Charlie'], 'Los Angeles': ['Bob', 'David']}, "Assert Error means that the answer is incorrect."
print("Exercise 3 is correct.")

AssertionError: Assert Error means that the answer is incorrect.

Exercise 4:

Polymorphism with Shapes

Objective: Create a base class Shape with a method area that returns 0. Create subclasses Rectangle and Circle that override the area method to calculate the area of a rectangle and a circle, respectively.

In [ ]:
class Shape:
  pass

class Rectangle:
  pass

class Circle:
  pass

rectangle = Rectangle(4, 5)
circle = Circle(3)
print(rectangle.area())  # Output: 20
print(circle.area())  # Output: 28.274333882308138

In [ ]:
# run this cell to test your answer
assert rectangle.area() == 20
assert circle.area() == 28.274333882308138
print("Exercise 4 is correct.")

Exercise 9 is correct.

Exercise 5:

Complex Class with Composition

Objective: Create a class Library that contains a list of Book objects. Each Book object should have attributes title, author, and year. Include methods to add books to the library, list all books, and find books by a specific author.

In [ ]:
class Library:
  pass

class Book:
  pass

library = Library()
library.add_book(Book("1984", "George Orwell", 1949))
library.add_book(Book("To Kill a Mockingbird", "Harper Lee", 1960))
library.list_books()  # Output: ["1984 by George Orwell (1949)", "To Kill a Mockingbird by Harper Lee (1960)"]
print(library.find_books_by_author("George Orwell"))  # Output: ["1984"]

Exercise 6:

Static Member for Tracking Instances

Objective: Create a class Student with attributes name and id. Include a static member student_count that keeps track of the number of Student instances created. Also, include a static method get_student_count that returns the current count of students.

In [7]:
class Student:
  pass

student1 = Student("Alice", 1)
student2 = Student("Bob", 2)
student3 = Student("Charlie", 3)

TypeError: Student() takes no arguments

In [ ]:
# run this cell to test your answer
assert Student.get_student_count() == 3
print("Exercise 6 is correct.")